:root {
	--spacing-6: 6px;
	--spacing-12: 12px;
	--spacing-24: 24px;

	--color-border: #eeeeee;
	--color-btn-icon: #909090;
	--color-grey-bg: #f0f0f0;
	--color-wrapper-bg: #000000;
	--color-body: #303030;

	--color-content-bg: #ffffff;

	--font-body: 'Source Sans Pro';

	--font-size-14: 14px;
	--font-size-16: 16px;
	--font-size-18: 18px;
	--font-size-20: 20px;

	--font-weight-400: 400;
	--font-weight-600: 600;
	--font-weight-700: 700;

}

html {
	scroll-behavior: smooth;
	line-height: 1.25;
	-webkit-text-size-adjust: 100%;
	overflow-wrap: anywhere;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-body);
	font-weight: var(--font-weight-400);
	font-size: var(--font-size-16);
	color: var(--color-body);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
picture,
video {
	display: block;
	max-width: 100%;
	border-style: none;
}

svg {
	fill: var(--color-body);
}

h1 {
	font-size: var(--font-size-20);
	font-weight: var(--font-weight-600);
	padding: 0;
	margin: 0;
}

h2 {
	font-size: var(--font-size-20);
	font-weight: var(--font-weight-400);
	padding: 0;
	margin: 0;
}

h3 {
	font-size: var(--font-size-16);
	font-weight: var(--font-weight-600);
	padding: 0;
	margin: 0;
}
